.app {
  display: flex;
  flex-direction: column;
  flex: 1;
}

header {
  padding: 5rem 2rem;
  flex: 1;
  margin: 0 auto;
}

header h1 {
  font-size: 3rem;
  font-weight: 700;
}

main {
  max-width: 40rem;
  width: 100%;
  margin: 0 auto;
}

main .insert-menu {
  display: flex;
  position: relative;
  flex-direction: column;
  flex: 1;
  align-items: center;
  justify-content: center;


  height: 6rem;
  width: 100%;
  border: 2px solid white;
}

main .insert-menu h3 {
  display: block;
  font-size: 1.125rem;
  text-align: center;
  position: absolute;
  width: 150px;
  top:-15%;
  left:10px;
  background-color: #121214;
  color: #D53F8C;
}

main .form-content {
  padding: 2rem;
  display: flex;
  justify-content: space-between;
}

.form-content .time {
  width: 25%;
  background: white;
  border: none;
  border-radius: 0.4rem;
  padding: 0.4rem;

  color: #121214;
}

.form-content .time::placeholder {
  color: #666666;
}

.form-content select {
  width: 20%;
  background: white;
  border: none;
  border-radius: 0.4rem;
  padding: 0.4rem;

  color: #121214;
}

.form-content .date-picker {
  width: 35%;
  background: white;
  border: none;
  border-radius: 0.4rem;
  padding: 0.4rem;
}

.form-content .error{
  border: 2px solid #ff3333;
}

.form-content button {
  background: #D53F8C;

  border: none;
  border-radius: 0.4rem;
  padding: 0.4rem 1rem;

  font-weight: 700;
  color: white;
  transition: filter 0.2s;
}

.form-content button:hover {
  filter: brightness(0.9);
}

.log-table {
  margin-top: 2rem;
  background-color: #1d1d21;
  width: 100%;
  color:  white;
  border-collapse: collapse;
  border: 2px solid white;
}

.log-table thead {
  color: #4B4D63;
}

.log-table tr {
  border: 0.5px solid rgba(255, 255, 255, 0.06);
}

.log-table thead th {
  vertical-align: bottom;
  text-align: left;
  padding: 0.5rem 1rem;
  font-weight: 700;
  font-size: 0.875rem;
  max-width: 4rem;

  cursor: pointer;
}

.log-table thead th img{
  width: 1rem;
  height: 1rem;

  margin-left: 0.875rem;
}

.log-table tbody td {
  padding: 0.875rem 1rem;
  color: #EEEEF2
}

.log-table tbody button {
  background: #D53F8C;
  display: flex;
  align-items: center;
  justify-content: center;

  border: none;
  border-radius: 0.4rem;
  padding: 0.4rem 1rem;

  font-weight: 500;
  color: white;

  transition: filter 0.2s;
}

.log-table tbody button:hover {
  filter: brightness(0.9);
}

.log-table tbody button img {
  width: 1.160rem;
  height: 1.160rem;
  margin-right: 0.5rem;
}

.button-head {
  width: 4rem;
}

main h2 {
  margin-top: 2rem;
  text-align: center;
}

